/** Override FirebaseUI styles. */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.firebaseui-id-page-spinner {
  animation: 3s fadeIn;
}

.firebaseui-container {
  box-shadow: none;
}
/** End of overrides. */

body {
  background-color: #eee;
  margin: 50;
}

.toast {
  width: 250px;
}

.main-container {
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  background-color: #fff;
  border: 1px solid #cccccc;
  padding: 20px;
}

#admin-container {
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  background-color: #fff;
  border: 1px solid #cccccc;
  padding: 20px;
}

.padded-div {
  padding: 10px;
}

.heading-center {
  color: #3b5998;
  text-align: center;
  justify-content: center;
}

.hidden {
  display: none;
}

/** https://stackoverflow.com/questions/23584120/line-before-and-after-title-over-image */
h3.line-through {
  color: #777777;
  font-size: 1.0rem;
  font-weight: 400;
  margin: .7em auto;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

/** https://stackoverflow.com/questions/2812770/add-centered-text-to-the-middle-of-a-hr-like-line */
h3.line-through:before, h3.line-through:after {
  border-bottom: 1px solid rgba(0,0,0,.125);
  content: "";
  display: inline-block;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  width: 50%;
}

h3.line-through:after {
  margin: 0 -55% 0 .5em;
}

.blend {
  background-color: #eee;
  box-shadow: none;
  border: 0;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.separator::before {
  margin-right: .25em;
}

.separator::after {
  margin-left: .25em;
}

/** Alert styles. */
.toast-container {
  position: fixed;
  right: 20;
  top: 20;
}

.toast {
  position: absolute;
  right: 0;
  top: 0;
}
